<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Special Interests Softball | 500 &ndash; Page Error</title>
    <link href="/media/css/reset-fonts-grids.css" rel="stylesheet" type="text/css" />
    <link href="/media/css/site.css" rel="stylesheet" type="text/css" />

    <!--[if IE 6]>
        <link href="/media/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
        <link href="/media/css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body>
    <div id="container">
        <div id="header">
            <img src="/media/images/logo.png"/>
            <h1>Special Interests Softball</h1>
        </div>

        <div id="content">
            <h1>500 &ndash; Page Error</h1>
            <p>You've come across an error in our software. We're sorry about that. We know that you were only trying to do something that you should be able to do, but our mistakes are now your pain. Don't worry about it, though! We were thoughtful enough to put in automatic error reporting, so we already received notice of this little mistake of ours.</p>
            <h2>What can you do now?</h2>
            <ol>
                <li>Try going to the page again. If there was a server error, or you've typed the page's address incorrectly, trying to go to the correct page should fix this error.</li>
                <li><a href="/contact/">Let us know</a>. If you've found a bug, or a link on one of our pages was incorrect, please let us know so we can fix it. Drop us a note via our <a href="/contact/">Contact page</a> including what you did to get the error.</li>
            </ol>
        </div>

        <div id="footer">
            &copy;2009 Special Interests Softball
        </div>
    </div>
</body>
</html>
